/* -------------Universal Styles------------------ */

/* Set the base fontsize */
html {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  background-color: white;
}



h1,h2 {
  font-weight: bold;
}

/* Set basic container parameters */
.container {
  display: flex;
  /* align-items: center;
  max-width: 100%;
  margin: 0 auto; */
}

/* Sets a display element to be a flexbox */
.flex {
  display: flex;
}

/* ---------------------Header-------------------------  */

header{
  height:4rem;
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

/* Menu section */
nav {
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background-color: white;
  color: black;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  height: 4rem;
}


/* Makes a flexbox for logo and Title */
nav div {
  display: flex;
  align-items: center;
}

/* Logo dimensions */
nav img {
  height: 3rem;
  margin-left: 1.5rem;
  /* margin-right: 1rem; */
}

/* .menu{
  display:flex;
  align-items: center;
} */


/* Right margin of the menu list */
nav ul {
  margin-right: 1.5rem;
}

/* Make the menu items display in a line */
nav li {
  display: inline;
  padding: 0 0.5rem;
}

/* makes all flex in the header start from the right */
/* header .flex {
  justify-content: flex-end;
} */

/* Set colmar to bold */
#colmar{
  font-weight: bold;
  font-size: 2rem;
}
/* Set academy to grey to bold */
#academy{
  color: grey;
  font-size: 2rem;
}

/* Hides the mobile menu when on Desktop */
.mobile-menu {
  display: none;
}

/* --------------------Banner -------------------------  */
/* The container for the whole banner section */
.part1 {
  padding-top: 32px;
}

/* container for image and headline */
.banner{
  display:flex;
  background-color: lightgrey;
  align-items: center;


  /* align-items: center; */
  /* height:24rem; */

}

/* container for image */
.books{
  width: 60%;
  margin: 32px 24px;
  /* align-items: left; */
}

/* image properies */
.books img{
  max-width:100%;
}

/* container for headline text and button */
.headline{
  /* flex-direction: column; */
  /* justify-content: center; */
  width: 40%;
  /* margin: 32px 0px; */
  /* padding: 4rem; */
  /* line-height: 2rem; */
}

/* container for headline text */
.headline-text{
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.headline-text p, h3{
  padding: 8px 0px;
}

/* button properties */
#button{

  /* max-width: 55%; */
  background-color: #333333;
  text-align: center;
  color: white;
  padding: 0.5rem 0rem;
  line-height: 1;
}

/* --------------------Practicising -------------------------  */
/* The container for the whole practicing section */
.part2 {
  padding-top: 32px;
}

/* container for images and events */
.practice{
  display:flex;
  background-color: white;

}

/* container for image and its text */
.main{
  width: 60%;
  padding: 0px 32px 24px 24px;
  align-items: left;

}

/* image properies */
.main img{
  max-width:100%;
}

/* container for text under image  */
.practice-text{
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.practice-text p, h3{
  padding: 8px 0px;
}

/* container for the three events */
.events{
  width: 40%;
}

/* container for individual event */
.event{
  display: flex;
  padding: 16px;
  border: 1px solid rgba(204, 204, 204, 0.75);
}

/* container for event text  */
.event-text{
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.smartphone {
  display: none;
}

/* --------------------Learning -------------------------  */

/* The container for the whole learning section */
.part3 {
  padding-top: 32px;
  background-color: lightgrey;
  align-items: center;
}
/* Text title proerties */
.part3 h1{
    text-align:center;
}

/* container for the courses*/
.learn{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px 72px;

}

/* container for individual course */
.course{
  background-color: rgba(255, 255, 255, 1);
  width: 30%;
  padding-bottom: 16px;
  margin: 16px;
}

/* course image properties */
.course img{
  max-width: 100%;
}

/* container for course text  */
.course-text{
  padding: 16px;
  display: flex;
  flex-direction: column;
}

/* course text properties */
.course-text p, h3{
  padding: 8px 0px;
  font-weight: normal;
}


/* --------------------Exhibits -------------------------  */
/* container for whole exhibits section */
.part4{
  padding-top: 32px;
  background-color: white;
  align-items: center;
}

/* Text title proerties */
.part4 h1{
    text-align:center;
}

/* container for the video and links*/
.exhibits{
  display:flex;
}

/* container for the video and its text */
.exhibit{
  width: 60%;
  padding: 0px 32px 24px 24px;
  /* align-items: left; */

}

/* container for video text */
.video-text{
  padding: 16px;
  display: flex;
  flex-direction: column;
}

/* container for all links images and text */
.links{
  width: 40%;
}

/* container for individual link */
.link{
  display: flex;
  /* padding: 16px; */

}

/*  */
.link-text{
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.link-text p{
  padding: 8px 0px;
  font-weight: normal;
}

/* --------------------Footer -------------------------  */
/* footer container */
.footer{
  font-size: 14px;
  padding: 16px 24px;
  border-top: 1px solid rgba(204, 204, 204, 0.8);
  /* align-items: center; */
  justify-content: space-between;
  /* padding: 1rem 0; */
  /* background-color: white; */
  /* color: black; */
  /* position: relative; */
  /* z-index: 1; */
  /* margin: 0 auto; */
  /* height: 4rem; */
}

/* Makes a flexbox for copyright text */
.copyright-info{
  display: flex;
  align-items: center;
}

/* right margin for terms and privacy */
.terms ul {
  margin-right: 1.5rem;
}

/* Make the terms and privacy display in a line */
.terms li {
  display: inline;
  padding: 0 0.5rem;
}


/* ------------------------------Media Queries-------------------------- */

@media only screen and (max-width: 700px){

/* .........................Header........................... */
  /* Makes colmar title disappear */
  .colmar-title {
    display: none;
  }

  /* Makes list menu disappear */
  .menu ul {
      display: none;
    }

/* Container for mobile menu */
  .mobile-menu{
    width: 100%;
    display: flex;
    height: 4rem;
    justify-content: space-evenly;
    align-items: center;
  }

/* Overides nav properties for img */
.mobile-menu img{
  margin: 0 auto;
}

/* ..................Banner.................... */

/* .books {
  display: none;
} */

.part1 {
  padding: 0px 8px 16px 8px;
}

/* Make container for image 100%  */
.books {
  width: 100%;
  margin:auto;
}

/* Make banner display as a column */
.banner {
  display: flex;
  flex-direction: column;
  width: auto;
}

/* container for headline text and button */
.headline {
  width: auto;
}

/* .headline-text{
  padding: 16px 0px 24px 16px;
} */

/* Change color of button */
#button {
  background-color: grey;
  padding: 16px 0px 24px 16px;
  /* width: 90%; */
}

/* ......................Practicising................. */

.part2 {
  padding: 0px 8px 16px 8px;
}

/* Hide man reading book and text */
.practice .main {
  display: none;

}

/* .main {
  width: 100%;
  margin:auto;
} */

/* Container for events */
.events {

  width: auto;
}

/* Make each event into a column */
.event {
  flex-direction: column;
  padding: 32px 16px;

}

/* event text fills event */
.event-text {
  width: 100%;
  padding: 16px 0px 24px 16px;
}

/* container for image  */
.imageframe{
  width: auto;
}

/* Tyrn off big pics */
.computer{
  display: none;
}
/* display small pics */
.smartphone {
  display: block;
}


/* .....................Learning.................................. */

.part3 {
  background-color: white;
  padding: 0px 8px 16px 8px;
}

.learn {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.course {
  width: auto;
  padding: 0px;
  margin: 4px 0px;
}

.course-text p, h3{
  display: none;
}


.course img{
  display: none;
}

.course-text {
  padding: 16px 0px 24px 16px;
  background-color: lightgrey;
}
