/* Message to Assessor
I know there are many issues with this website but it was the best I could do with
my time schedule.
I didnt realise there was some help in day 2 and day 3 about icons so I did it
the traditional way.
I blanked out the reset.css as it caused me all sorts of viewing issues
But I did have fun doing it. */

/* .............Typeface.......................... */

/* latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  src: local('Khula Regular'), local('Khula-Regular'), url(https://fonts.gstatic.com/s/khula/v3/OpNCnoEOns3V7GcOrg4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 700;
  src: local('Khula Bold'), local('Khula-Bold'), url(https://fonts.gstatic.com/s/khula/v3/OpNPnoEOns3V7G-1ixvTpi8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* -------------Universal Styles------------------ */

/* Set the base fontsize */
html {
  font-size: 18px;
  /* font-family: "Helvetica", sans-serif;
  background-color: white; */
}

h1 {
  font-family: "Khula";
  font-weight: bold;
  font-size: 2.5rem;
}

h2, h3 p, span, a {
  font-family: "Khula";
  text-decoration: none
}


h2 {
  font-weight: bold;
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h3, p {
  font-weight: 300;
}

/* Set basic container parameters */
.container {
  display: flex;
}

/* Sets a display element to be a flexbox */
.flex {
  display: flex;
}

/* ---------------------Header-------------------------  */

header{
  height:4rem;
}

/* Menu section */
nav {
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background-color: white;
  color: black;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  height: 4rem;
}


/* Makes a flexbox for logo and Title */
nav div {
  display: flex;
  align-items: center;
}

/* Logo dimensions */
nav img {
  height: 3rem;
  margin-left: 1.5rem;
  /* margin-right: 1rem; */
}

/* Right margin of the menu list */
nav ul {
  margin-right: 1.5rem;
}

/* Make the menu items display in a line */
nav li {
  /* font-size: 1.5rem; */
  font-family: "Khula";
  display: inline;
  padding: 0 0.5rem;
  color: black;
}

/* Set colmar to bold */
#colmar{
  font-weight: bold;
  font-size: 2rem;
}
/* Set academy to grey to bold */
#academy{
  color: grey;
  font-size: 2rem;
}

/* Hides the mobile menu when on Desktop */
.mobile-menu {
  display: none;
}

/* --------------------Banner -------------------------  */
/* The container for the whole banner section */
.part1 {
  padding-top: 32px;
}

/* container for image and headline */
.banner{
  display:flex;
  background-color: lightgrey;
  align-items: center;
}

/* container for image */
.books{
  width: 60%;
  margin: 32px 24px;
  /* align-items: left; */
}

/* image properies */
.books img{
  max-width:100%;
}

/* container for headline text and button */
.headline{
  width: 40%;
}

/* container for headline text */
.headline-text{
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.headline-text p, h3{
  padding: 8px 0px;
}

/* button properties */
#button{

  /* max-width: 55%; */
  font-size: 1.4rem;
  background-color: #333333;
  text-align: center;
  color: white;
  padding: 0.5rem 0rem;
  line-height: 1;
}

/* --------------------Practicising -------------------------  */
/* The container for the whole practicing section */
.part2 {
  display:flex;
  padding-top: 32px;
}

/* container for images and events */
.practice{
  display:flex;
  background-color: white;

}

/* container for image and its text */
.main {
  width: 60%;
  margin: 32px 24px;
  align-items: left;

}

/* image properies */
.main img{
  max-width:100%;
}

/* container for text under image  */
.practice-text{
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.practice-text p, h3{
  padding: 8px 0px;
}

/* container for the three events */
.events{
  width: 40%;
}

/* container for individual event */
.event{
  display: flex;
  padding: 16px;
  border: 1px solid rgba(204, 204, 204, 0.75);
}

/* container for event text  */
.event-text{
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.smartphone {
  display: none;
}

/* --------------------Learning -------------------------  */

/* The container for the whole learning section */
.part3 {

  padding: 8px 0px;
  background-color: lightgrey;
  align-items: center;
}
/* Text title proerties */
.part3 h1{
    text-align:center;
}

/* container for the courses*/
.learn{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px 72px;

}

/* container for individual course */
.course{
  background-color: white;
  width: 30%;
  padding-bottom: 24px;
  margin: 16px;
}

/* course image properties */
.course img{
  max-width: 100%;
}

/* container for course text  */
.course-text{
  padding-left:16px;
  display: flex;
  flex-direction: column;
}

.course-text p, h3{
  padding: 8px 0px;
  font-weight: normal;
}


/* --------------------Exhibits -------------------------  */
/* container for whole exhibits section */
.part4{

  padding-top: 32px;
  background-color: white;
  align-items: center;
}

/* Text title proerties */
.part4 h1{
    text-align:center;
}

/* container for the video and links*/
.exhibits{
  display:flex;
}

/* container for the video and its text */
.exhibit{
  width: 60%;
  padding: 0px 32px 24px 24px;
  /* align-items: left; */

}

/* container for video text */
.video-text{
  padding: 16px;
  display: flex;
  flex-direction: column;
}

/* container for all links images and text */
.links{
  width: 40%;
}

/* container for individual link */
.link{
  display: flex;
}

/*  */
.link-text{
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.link-text p{
  padding: 8px 0px;
  font-weight: normal;
}

/* --------------------Footer -------------------------  */
/* footer container */
.footer{
  font-size: 14px;
  padding: 16px 24px;
  border-top: 1px solid rgba(204, 204, 204, 0.8);
  justify-content: space-between;
}

/* Makes a flexbox for copyright text */
.copyright-info{
  display: flex;
  align-items: center;
}

/* right margin for terms and privacy */
.terms ul {
  margin-right: 1.5rem;
}

/* Make the terms and privacy display in a line */
.terms li {
  display: inline;
  padding: 0 0.5rem;
}


/* ------------------------------Media Queries-------------------------- */

@media only screen and (max-width: 700px){

/* .........................Header........................... */
  /* Makes colmar title disappear */
  .colmar-title {
    display: none;
  }

  /* Makes list menu disappear */
  .menu ul {
      display: none;
    }

/* Container for mobile menu */
  .mobile-menu{
    width: 100%;
    display: flex;
    height: 4rem;
    justify-content: space-evenly;
    align-items: center;
  }

/* Overides nav properties for img */
.mobile-menu img{
  margin: 0 auto;
}

/* ..................Banner.................... */

.part1 {
  padding: 0px 8px 16px 8px;
}

/* Make container for image 100%  */
.books {
  width: 100%;
  margin:auto;
}

/* Make banner display as a column */
.banner {
  display: flex;
  flex-direction: column;
  width: auto;
}

/* container for headline text and button */
.headline {
  width: auto;
}

/* Change color of button */
#button {
  background-color: grey;
  padding: 16px 0px 24px 16px;
  /* width: 90%; */
}

/* ......................Practicising................. */

.part2 {
  padding: 0px 8px 16px 8px;
}

/* Hide man reading book and text */
.practice .main {
  display: none;

}


/* Container for events */
.events {

  width: auto;
}

/* Make each event into a column */
.event {
  flex-direction: column;
  padding: 32px 16px;
}

/* event text fills event */
.event-text {
  width: 100%;
  padding: 16px 0px 24px 16px;
}

/* container for image  */
.imageframe{
  width: auto;
}

/* Tyrn off big pics */
.computer{
  display: none;
}
/* display small pics */
.smartphone {
  display: block;
}


/* .....................Learning.................................. */
/* Container for Learning  */
.part3 {
  background-color: white;
  padding: 0px 8px 16px 8px;
}

/* Container for courses */
.learn {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

/* Container for one course */
.course {
  width: auto;
  padding: 0px;
  margin: 4px 0px;
}

/* Hides course text */
.course-text p, h3{
  display: none;
}

/* hides course images */
.course img{
  display: none;
}

.course-text {
  padding: 16px 0px 24px 16px;
  background-color: lightgrey;
}

/* .....................Exhibits.................................. */
/* Container for exhibits  */
.part4 {
  background-color: white;
  padding: 0px 8px 16px 8px;
}

/* Container for video and links */
.exhibits {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

/* Container for video and its text */
.exhibit{
  width: 100%;
  margin:auto;
}

/* Hides video text */
.video-text {
  display: none;
}

/* Hides links */
.links {
  display: none;
}

/* .....................Footer.................................. */

/* hides the terms and privacy */
.terms {
  display: none;
}
